DATABASE_URL="postgresql://root:ROOT@localhost:65432/lil?schema=public"
ALLOWED_GROUPS=SVC1923LIL-ADMIN_AppGrpU,SVC1923LIL-COSEC_AppGrpU,SVC1923LIL-USER_AppGrpU
ADMIN_GROUP=SVC1923LIL-ADMIN_AppGrpU
COSEC_GROUP=SVC1923LIL-COSEC_AppGrpU
RO_GROUP=SVC1923LIL-USER_AppGrpU
OIDC_BASE_URL=https://login.microsoftonline.com/f6c2556a-c4fb-4ab1-a2c7-9e220df11c43/v2.0
OIDC_CLIENT_ID=XXX
RMM_URL=https://rmm-uit-de.jaggaer.com
RMM_ACCESS_KEY=XXX
RMM_ENCRYPTED_KEY=XXX
SERVICE_ACCOUNT_NAME=lil
SERVICE_ACCOUNT_PASSWORD=XXX
SERVICE_ACCOUNT_EMAIL=lil@epfl.ch
SMTP_HOST=mail.epfl.ch
SMTP_PORT=587
CATALYSE_EMAIL=service_catalyse@epfl.ch
ENVIRONMENT=DEV
API_EPFL_CH_URL=https://api.epfl.ch/v1
ALLOWED_CITIES=LAUSANNE,NEUCHATEL,SION,GENEVE,FRIBOURG
RMM_SITE_MAPPING='{"ECUBLENS":"LAUSANNE","VALAIS":"SION"}'
